@import "colors";

.main {
  min-height: 100vh;
  background: $gray-slow;
  color: white;
  padding-top: 100px;
  .head {
    height: 40px;
    font-size: 13px;
    a{
        font-weight: 300;
       svg{
        margin-right: 10px;
        font-size: 20px;
       }
    }
  }
  .row{
      height: 35px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    .odd{
      background: $gray-normal;
    }
    .even{
      background: $gray-high;
    }
}
