@import "colors";

.main {
  min-width: 100%;
  min-height: 100vh;
  background: $gray-slow;
  padding-top: 100px;
}
.dropDown {
  min-height: 40px;
}
.card {
  width: 99%;
  background: $white;
  color: balck;
  .img {
    position: relative;
    height: 250px;
  }
  .compare {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
  }
  button {
    color: black;
    width: 150px;
    height: 30px;
  }
  hr {
    margin: 0.3rem 0;
  }
  .title {
    font-weight: 800;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price{
      font-weight: 800;
    }
  }
  .h12 {
    min-height: 30px;
  }
  .font14 {
    font-size: 13px;
  }
}
