@import "colors";

.dropDown {
  min-height: 40px;
  color: $white;
}
.card {
  width: 99%;
  background: $white;
  color: balck;
  .img {
    position: relative;
    height: 250px;
  }
  .compare {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: space-between;
  }
  button {
    color: black;
    width: 150px;
    height: 30px;
  }
  hr {
    margin: 0.3rem 0;
  }
  .title {
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-weight: 800;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price {
      font-weight: 800;
    }
  }
  .h12 {
    min-height: 30px;
  }
  .font14 {
    font-size: 13px;
  }
  .price {
    color: red;
  }
}
.items {
  font-size: 14px;
  min-height: 30px;
}
.headerResponse {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: transparent;
    border: none;
    color: $white;
    font-size: 14px;
  }
  .sortItems {
    width: 350px;
    display: flex;
    justify-content: space-between;
  }
  .sortIcons {
    display: flex;
    align-items: center;
    font-size: 28px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    > div {
      cursor: pointer;
    }
  }
}
